@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.h-dvh {
  height: 100dvh;
} 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Declaraci칩n de variable animada */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

/* Clase para el efecto de sombra animada */
.gradient-shadow {
  position: relative;
  z-index: 1;
}

.gradient-shadow::before {
  content: "";
  position: absolute;
  inset: -0.001rem;
  background: linear-gradient(var(--gradient-angle), #25D3C7, green, yellow, orange);
  animation: rotation 7s linear infinite;
  filter: blur(20px);
  border-radius: 0.5rem;
  z-index: -1;

  /* Transici칩n suave */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Esta clase se agregar치 din치micamente */
.gradient-shadow.active-shadow::before {
  opacity: 1;
}
